<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Discover Sounds</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ca3600">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="css/selectize.css">
<link rel="stylesheet" href="css/site.css">
<!-- F**k yeah, jQuery. -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="js/selectize.min.js"></script>