<!DOCTYPE html>
<html>
<head>
    {% include 'components/head.html' %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
</head>
<body>
    <h1><img class="icon" src="header-icon-small.jpg" alt=""> Discover Sounds</h1>
    <p class="lead center">Find shows on BBC Sounds you never knew existed.</p>
    <p class="center"><small><span class="separate inline">{{stats.show_count}} shows</span><span class="separate inline">{{stats.artist_count}} artists</span><span class="separate inline">Updated {{stats.last_update}}</span></small></p>
    {% include 'components/searchbox.html' %}
    <hr>
    <h2>What is this?</h2>
    <p>This site indexes the shows that are available on <a href="https://www.bbc.co.uk/sounds">BBC Sounds</a>, along with the artists that were played on each.</p>
    <p>Choose your favourite artists and this service will find a radio show that plays most of them. The more artists you provide, the better the results will be.</p>
    <p>For example, if you submit The Strokes, Muse, Queens of the Stone Age and The White Stripes, you could get <a href="https://www.bbc.co.uk/programmes/m00021nz">this episode</a> of Radio 1's Indie Show back, which played all four of them.</p>
    <p>An <a href="https://github.com/danielthepope/discoversounds">open source project</a> created by <a href="https://twitter.com/danielthepope">Dan Pope</a> as part of a BBC hack day.</p>
</body>
</html>